.footer {
  background: #ffffff;

  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.6);
  box-shadow: 0 -1px 5px rgb(205, 205, 205);
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 20px;
}

.footer p {
  padding: 10px 16px;
  margin: 0;
}
